.header {
  @apply px-4;
  @apply py-2;
  @apply border-b;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1;
}

.headerHero {
  @apply border-r;
  @apply mr-4;
  font-weight: bold;
}

.headerLinks {
  @apply flex-1;
}

.headerSearch {
  width: 20rem;
}

.headerLink {
  @apply mr-4;
  @apply text-sm;
}

.headerLink:hover {
  @apply font-semibold;
}